/*
Button

Your standard button suitable for clicking.

Markup: button.twig

Style guide: components.button
*/

.button {
  background: black;
  color: white;
  border: 0;
  padding: 10px 20px;
  font-size: 16px;
}

.button.shiny {
  background: #f70505;
}
